@charset "utf-8";

body {
    background-color:  #f6f5f5;
    margin: 0 px;
    padding: 0 px;
}
ul{
    list-style: none;

}
a{
    text-decoration:  none;
    color:blue;
}
section{
    width:  100%;
    height: 95vh;
    background-image: url("../images/pnd4MG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        height: 60px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 40px rgba(0,0,0,0.2);
        padding: 0px 5%;

    }
    nav ul{
        display: flex;
    }
    nav ul li{
        margin: 30px;
        font-family:Arial;
        color:  #505050;
        font-size: 20px;
        font-weight: 500;

    }

    .logo{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: #000000;
       font-size: 22px; 
    
    }
    .active{
        font-weight: bold;
        color: #2d2a2a;
    }
.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #3467eb;
    font-size: 5vh;
line-height: 1vh;
}
.text-container p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
line-height: 1vh;
    color: #1a1a1a;
    font-size: 6vh;
}
.text-container p:nth-child(3) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6a40b;
    font-size:32px;
    line-height:30px ;

}
.text-container p{
height:auto;
width: auto;
}
.text-container{
height: auto;
width: auto;
position:absolute;
left: 13%;
top: 42%;
transform: translate(-13%,-42%);
position: relative;
padding:2vh ;
}
.text-container button
{
    width: 130px;
    height: 42px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;

}
.hire-btn {
    border: 2px solid #373636;
    color: #373636;
}
.down-cv
{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
 }

 button:active
 { 
     transform: scale(1.1);

 }
.model
 {
height: auto;
width: auto;
    bottom: 40px;
    position: absolute;
    top: 25%;
    left:60%;
    max-width: 500px;
    
    
 }
 .about-container
 { 
    width: 100%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(red, green, blue, alpha);
    display:flex ;
    margin: -1% auto 20px auto;
    position: relative;
   justify-items: normal;
    align-items: center;
 }
 .about-container img
 {
    height: 250px;
 }
 .about-text
 {
    justify-content:space-evenly center;
     width: 550px;
 }
.about-text p:nth-child(1){
    columns: #403e3e; 
    font-size: 30px;
    font-family: 'Times New Roman';
    font-size: bold;
    line-height: 0px;
}
.about-text p:nth-child(2){
    columns: black; 
    font-size: 20px;
    font-family: 'Times New Roman';
    font-size: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d; 
    font-size: 18px;
    font-family: 'Times New Roman';
font-weight: 500;
}
.about-text button
{
    width :120px;
    height:40px;
    margin-right: 10px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: 'calibri';
    background-color: black;
    color: white ;
    font-size: 17px;
}

.about-text button:hover
{
    transform: scale(1.15,1.15);
}
.services
{ display: flex;
    height: 600px;
    background-color: #FFFFFF;
    padding:20px 5% 20px;
    border-radius: 20px;
    justify-content: space-around;
    
    
}

.services-text p:nth-child(1){

    columns: #403e3e; 
    font-size: 30px;
    font-family: 'Times New Roman';
    font-size: bold;
    line-height: 0px;

}
.services-text{
    width: 500px;
    margin: 50px 0;
}
.services-text p:nth-child(2){

    columns: black; 
    font-size: 20px;
    font-family: 'Times New Roman';
    font-size: bold;
    line-height: 5px;
}
.services-text p:nth-child(3){
    color: #7e7d7d; 
    font-size:18px;
    font-family: 'Times New Roman';
    font-weight:700;
    line-height:25px;
    width: max-content;

font-weight: 500;
}
.box-1,.box-2,.box-3
{
margin-right: 150px;
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container{
display: flex;
justify-content: space-between ;
position: relative;
right :600px;
top:250px;
align-items: center;
height: 300px;

}
.box-1
{
background-image: url("../images/black\ square.jpg");
}
.box-2
{
background-image: url("../images/black\ square.jpg");
}
.box-3
{
background-image: url("../images/black\ square.jpg");
}

.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
font-weight: bold;


}

.box-1p:nth-child(2), 
.box-2p:nth-child(2), 
.box-3p:nth-child(2)
{
color: #FFFFFF;
font-family: calibri;
font-size: 23px;
line-height:0px ;


} 
.box-1p:nth-child(1), 
.box-2p:nth-child(1), 
.box-3p:nth-child(1)
{
color: #FFFFFF;
font-family: calibri;
font-size: 30px;
line-height:0px ;
font-weight: bold;

} 
.box-1 button,
.box-2 button,
.box-3 button
{
    width: 100px;
    height: 30px;
    background-color:blue;
    border: none;
    outline: none;
    border-radius: 5px;
}
.heading
{
    font-size: 25px;
    color: white;
}
.details
{
    font-size: 20px;
    text-align: center;
color: white;
}
.contact-me
{
    width: 100%;
    height: 280px;
    background-image: url(../images/black-facebook-cover-10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact-me p{
 color: #FFFFFF;
 font-size: 30px;
 font-family: calibri;
 font-weight: bold;
 border-bottom: 2px solid #FFFFFF;

}

.contact-me button
{
    width: 200px;
    height: 40px;
    background-color:#FFFFFF;
    outline: none;
    border:none;
    font-size: 20px;
    font-weight: bold;
}

.footer
{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer p
{
    font-family: calibri;
}
.footer p:nth-child(1)
{
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
    
}
.footer p:nth-child(2)
{
    font-size: 20px;
    font-weight: bold;
    color: #7e7d7d;
    width: 600px;
    line-height: 25px;
    text-align: center;

}
.social-icons a
{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons
{
    display: flex;
}
.copyright{
color: #565555;
font-size: 15px;
position: absolute;
left: 50%;
bottom:10px;
transform: translateX(-50%);
}
.social-icons i
{
    color: #000000;
}

.social-icons a:hover,
.a-social-b a:hover
{
  background-color: black;
  transition: all ease 0.5s;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);


}
.social-icons a:hover i,
.a-social-b a:hover i
{
  background-color: black;
  transition: all ease 0.5s;
}

.a-social-b
{
    position: absolute;
    top: 98%;
    left:90%;
    transform: translateX(-50%);
}
.a-social-b a
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb ;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i
{
    color: #2b2b2b;
    font-size: 20px;
}